### Check Adjecency Matrix

In [2]:
import numpy as np
import pandas as pd

adj = np.load('adj_matrix.npy')
df = pd.read_csv('compas-scores.csv')
df = df[df['is_recid']!=-1]
df = df[df['decile_score']!=-1]
df = df.dropna(axis=0,subset=['c_jail_in'])
df = df.dropna(axis=0,subset=['c_jail_out'])
df = df.reset_index()
df = df.drop(columns=['index'])
df

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,vr_offense_date,vr_charge_desc,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,type_of_assessment,decile_score.1,score_text,screening_date
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,NaN,NaN,Risk of Violence,1,Low,2013-08-14,Risk of Recidivism,1,Low,2013-08-14
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,2013-07-05,Felony Battery (Dom Strang),Risk of Violence,1,Low,2013-01-27,Risk of Recidivism,3,Low,2013-01-27
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,NaN,NaN,Risk of Violence,3,Low,2013-04-14,Risk of Recidivism,4,Low,2013-04-14
3,7,marsha miles,marsha,miles,2013-11-30,Male,1971-08-22,44,25 - 45,Other,...,NaN,NaN,Risk of Violence,1,Low,2013-11-30,Risk of Recidivism,1,Low,2013-11-30
4,8,edward riddle,edward,riddle,2014-02-19,Male,1974-07-23,41,25 - 45,Caucasian,...,NaN,NaN,Risk of Violence,2,Low,2014-02-19,Risk of Recidivism,6,Medium,2014-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10562,11752,rodrick phillips,rodrick,phillips,2013-02-27,Male,1953-02-24,63,Greater than 45,African-American,...,NaN,NaN,Risk of Violence,1,Low,2013-02-27,Risk of Recidivism,1,Low,2013-02-27
10563,11753,patrick hamilton,patrick,hamilton,2013-09-22,Male,1968-05-02,47,Greater than 45,Other,...,NaN,NaN,Risk of Violence,1,Low,2013-09-22,Risk of Recidivism,3,Low,2013-09-22
10564,11754,raymond hernandez,raymond,hernandez,2013-05-17,Male,1993-06-24,22,Less than 25,Caucasian,...,NaN,NaN,Risk of Violence,5,Medium,2013-05-17,Risk of Recidivism,7,Medium,2013-05-17
10565,11756,scott lomagistro,scott,lomagistro,2013-12-03,Male,1986-12-04,29,25 - 45,Caucasian,...,NaN,NaN,Risk of Violence,2,Low,2013-12-03,Risk of Recidivism,3,Low,2013-12-03
10566,11757,chin yan,chin,yan,2014-01-11,Male,1982-02-19,34,25 - 45,Asian,...,NaN,NaN,Risk of Violence,1,Low,2014-01-11,Risk of Recidivism,1,Low,2014-01-11

In [3]:
a = adj[0,:]
print(np.where(a == 1))

(array([   29,    87,    93,    96,   155,   168,   224,   243,   269,
         282,   288,   298,   309,   312,   385,   408,   417,   447,
         531,   540,   550,   567,   626,   636,   668,   680,   708,
         769,   804,   831,   847,   865,   934,   959,   972,  1007,
        1041,  1044,  1079,  1081,  1082,  1110,  1152,  1192,  1208,
        1267,  1286,  1315,  1329,  1418,  1508,  1520,  1539,  1557,
        1566,  1576,  1592,  1633,  1660,  1670,  1693,  1711,  1714,
        1718,  1732,  1759,  1765,  1816,  1829,  1830,  1832,  1835,
        1836,  1874,  1908,  1927,  1929,  1974,  2001,  2007,  2015,
        2099,  2120,  2125,  2131,  2150,  2202,  2204,  2228,  2294,
        2300,  2318,  2330,  2404,  2467,  2583,  2612,  2628,  2635,
        2636,  2660,  2689,  2696,  2713,  2755,  2790,  2837,  2866,
        2902,  2917,  2984,  2987,  3023,  3026,  3030,  3064,  3067,
        3080,  3098,  3112,  3123,  3217,  3221,  3228,  3239,  3250,
        3343,  3360,  3406,  3422,  3427,  3515,  3607,  3636,  3713,
        3778,  3802,  3862,  3867,  3876,  3901,  3973,  4004,  4036,
        4085,  4090,  4114,  4119,  4124,  4147,  4285,  4330,  4334,
        4346,  4360,  4411,  4420,  4440,  4474,  4514,  4536,  4558,
        4565,  4598,  4617,  4618,  4633,  4638,  4684,  4729,  4763,
        4793,  4849,  4869,  4879,  4911,  4951,  4987,  4994,  4995,
        5000,  5008,  5032,  5063,  5110,  5111,  5117,  5124,  5220,
        5230,  5273,  5279,  5284,  5292,  5319,  5344,  5352,  5385,
        5396,  5411,  5417,  5420,  5460,  5469,  5480,  5527,  5544,
        5568,  5587,  5595,  5655,  5674,  5688,  5769,  5770,  5797,
        5852,  5855,  5951,  6008,  6038,  6067,  6071,  6078,  6102,
        6115,  6117,  6118,  6129,  6155,  6186,  6268,  6277,  6280,
        6283,  6291,  6342,  6343,  6348,  6380,  6383,  6399,  6450,
        6467,  6542,  6557,  6586,  6587,  6654,  6683,  6792,  6818,
        6825,  6865,  6891,  6894,  6902,  6920,  6934,  6945,  6961,
        6980,  6984,  7011,  7070,  7202,  7242,  7260,  7294,  7305,
        7326,  7376,  7403,  7482,  7525,  7528,  7538,  7558,  7606,
        7621,  7632,  7666,  7686,  7744,  7788,  7791,  7792,  7804,
        7812,  7850,  7851,  7889,  7894,  7903,  7926,  7929,  7971,
        7985,  7995,  8008,  8020,  8032,  8053,  8067,  8083,  8104,
        8135,  8155,  8164,  8167,  8183,  8197,  8275,  8313,  8341,
        8344,  8351,  8358,  8414,  8426,  8470,  8472,  8504,  8519,
        8552,  8568,  8577,  8584,  8588,  8598,  8599,  8615,  8626,
        8725,  8744,  8747,  8768,  8811,  8815,  8827,  8854,  8883,
        8891,  8900,  8955,  8999,  9003,  9007,  9075,  9078,  9080,
        9100,  9126,  9242,  9258,  9304,  9334,  9409,  9414,  9467,
        9510,  9512,  9529,  9545,  9548,  9567,  9576,  9619,  9621,
        9714,  9715,  9735,  9742,  9752,  9777,  9788,  9878,  9910,
        9924,  9973,  9999, 10012, 10032, 10041, 10087, 10110, 10122,
       10202, 10221, 10228, 10232, 10243, 10253, 10304, 10315, 10412,
       10431, 10439, 10469, 10490, 10503, 10555]),)

In [10]:
print(df.iloc[0,16:18])
print(df.iloc[87,16:18])
print(df.iloc[86,16:18])
print(df.iloc[29,16:18])
print(df.iloc[30,16:18])
print(df.iloc[2635,16:18])
print(df.iloc[2634,16:18])

c_jail_in     2013-08-13 06:03:42
c_jail_out    2013-08-14 05:41:20
Name: 0, dtype: object
c_jail_in     2013-05-23 01:31:00
c_jail_out    2013-09-24 06:24:21
Name: 87, dtype: object
c_jail_in     2014-07-30 02:23:25
c_jail_out    2014-07-30 07:49:14
Name: 86, dtype: object
c_jail_in     2013-05-23 07:25:37
c_jail_out    2013-09-11 05:51:06
Name: 29, dtype: object
c_jail_in     2014-08-21 03:56:39
c_jail_out    2014-08-21 08:30:05
Name: 30, dtype: object
c_jail_in     2013-01-08 06:02:56
c_jail_out    2013-10-25 08:31:58
Name: 2635, dtype: object
c_jail_in     2013-08-18 07:29:15
c_jail_out    2013-09-05 04:16:47
Name: 2634, dtype: object

### Check Node features

In [11]:
data = pd.read_csv('compas_clean.csv')
data

          id  race  decile_score  is_recid
0          0     6             1         0
1          1     1             3         1
2          2     1             4         1
3          3     6             1         0
4          4     3             6         1
...      ...   ...           ...       ...
10562  10562     1             1         1
10563  10563     6             3         0
10564  10564     3             7         1
10565  10565     3             3         0
10566  10566     2             1         0

[10567 rows x 4 columns]

In [12]:
df[df['race']=='African-American']['decile_score'].value_counts()

1     617
2     572
7     555
6     533
4     532
9     523
8     511
3     502
5     484
10    421
Name: decile_score, dtype: int64

In [13]:
data[data['race']==1]['decile_score'].value_counts()

1     617
2     572
7     555
6     533
4     532
9     523
8     511
3     502
5     484
10    421
Name: decile_score, dtype: int64

In [14]:
df[df['race']=='African-American']['is_recid'].value_counts()

0    3116
1    2134
Name: is_recid, dtype: int64

In [15]:
data[data['race']==1]['is_recid'].value_counts()

0    3116
1    2134
Name: is_recid, dtype: int64

In [16]:
df[df['race']=='Caucasian']['decile_score'].value_counts()

1     1056
2      557
3      435
4      415
5      348
6      272
7      207
8      165
9      153
10      88
Name: decile_score, dtype: int64

In [17]:
data[data['race']==3]['decile_score'].value_counts()

1     1056
2      557
3      435
4      415
5      348
6      272
7      207
8      165
9      153
10      88
Name: decile_score, dtype: int64

In [18]:
df[df['race']=='Caucasian']['is_recid'].value_counts()

0    2618
1    1078
Name: is_recid, dtype: int64

In [19]:
data[data['race']==3]['is_recid'].value_counts()

0    2618
1    1078
Name: is_recid, dtype: int64

In [23]:
import networkx as nx
from pyvis import network as net

adj = np.load('adj_matrix_2.npy')


N = net.Network('500px', '1000px', notebook=True, bgcolor='black')

for i in range(adj.shape[0]):
    N.add_node(i)

rows, cols = np.where(adj == 1)
print("Adding edges")
for i in range(rows.shape[0]):
    N.add_edge(rows[i],cols[i], color='white')
    if i > 500:
        break

Local cdn resources have problems on chrome/safari when used in jupyter-notebook.
Adding edges

In [25]:
import matplotlib.pyplot as plt

g = nx.empty_graph(data.shape[0])
adj = np.load("adj_matrix_2.npy")
rows, cols = np.where(adj == 1)
edges = zip(rows.tolist(), cols.tolist())
gr = nx.Graph()
gr.add_edges_from(edges)

nx.draw(gr, node_size=adj.shape[0])
plt.show()