In [48]:
import Graph_Sampling as sampling
import numpy as np
import networkx as nx
import pandas as pd


def load_data_compass():
    adj = np.load("adj_matrix_2.npy")
    rows, cols = np.where(adj == 1)
    edges = zip(rows.tolist(), cols.tolist())
    g = nx.empty_graph(adj.shape[0])
    g.add_edges_from(edges)
    #print(W.shape)
    return g

g =  load_data_compass()

In [49]:
sample_graph = sampling.SRW_RWF_ISRW()
sample = sample_graph.random_walk_sampling_simple(g,2000)
sample

In [50]:
print(sample.number_of_edges())
print(sample.number_of_nodes())

2725
2000

In [51]:
sample_nodes = sample.nodes

In [52]:
gr = nx.to_numpy_array(sample)
print(gr.shape)

(2000, 2000)

In [53]:
adj = np.load("adj_matrix_2.npy")
total = adj.shape[0]
lt = [i for i in range(adj.shape[0])]
delete_nodes = []
for i in lt:
    if i not in sample_nodes:
        delete_nodes.append(i)
len(delete_nodes)

6946

In [54]:
adj =np.delete(adj,delete_nodes,axis=0)
adj= np.delete(adj,delete_nodes,axis=1)
adj.shape

(2000, 2000)

In [55]:
df = pd.read_csv('compas_clean_2.csv')
df

         id  race   s  h_c
0         3     0   3    1
1         4     0   4    1
2         8     1   6    1
3        10     1   1    0
4        11     1  10    0
...     ...   ...  ..  ...
8941  11749     1   7    0
8942  11750     0   1    0
8943  11752     0   1    1
8944  11754     1   7    1
8945  11756     1   3    0

[8946 rows x 4 columns]

In [56]:
df = df.drop(delete_nodes)
df

         id  race  s  h_c
5        12     1  5    0
8        15     0  6    1
11       18     0  4    0
12       19     1  1    1
21       31     1  3    0
...     ...   ... ..  ...
8931  11735     1  1    0
8934  11739     1  4    1
8938  11746     0  2    0
8941  11749     1  7    0
8943  11752     0  1    1

[2000 rows x 4 columns]

In [57]:
df['race'].value_counts()

0    1230
1     770
Name: race, dtype: int64

In [58]:
df['h_c'].value_counts()

0    1271
1     729
Name: h_c, dtype: int64

In [59]:
print(5 in sample.nodes)
print(8 in sample.nodes)
print(11 in sample.nodes)

True
True
True

In [60]:
df.to_csv("compas_sample_2.csv", index=False)
np.save("adj_sample_2",adj)